[2020-01-16 19:30] eracknaphobia opened #1 "Record Feature"
Add context menu options to toggle recorded (DVR) content.

![image](https://user-images.githubusercontent.com/8268725/72556461-a0958b80-386c-11ea-8aaf-74038439b4a7.png)

![image](https://user-images.githubusercontent.com/8268725/72556435-983d5080-386c-11ea-8799-17559090b858.png)

![image](https://user-images.githubusercontent.com/8268725/72556508-c0c54a80-386c-11ea-9c81-9396ba79cd0c.png)

[2020-01-16 22:54] d21spike opened #2 "View Slinger File"
###It would be useful to see the contents of the slinger.json file in the built in Kodi text editor as you can through file explorer
![image](https://user-images.githubusercontent.com/6399602/72569763-26bfcb00-3889-11ea-970c-a642100d0457.png)

[2020-01-16 23:21] d21spike opened #3 "Movie assets in My TV tagged as shows"
Certain movie assets in My TV are tagged as shows and thus allows the user to browse the "show" viewing only one asset.
![image](https://user-images.githubusercontent.com/6399602/72571150-caf74100-388c-11ea-81ca-f131a50809e6.png)

[2020-01-16 23:23] d21spike opened #4 "Hidden channels show up in On Demand"
Channels hidden through the "Channels" menu are still shown in the "On Demand" menu.
![image](https://user-images.githubusercontent.com/6399602/72571333-4e189700-388d-11ea-9984-5730bf071c6d.png)

[2020-01-17 12:15] d21spike opened #5 "Ability to search through the local database"
Currently the search uses the Sling API for results. It would be nice to include locally stored results as well.

[2020-01-18 06:42] usphil opened #6 "Can not play any channel"
Few hours ago Sling is still working but now It can not play any channel on both new and old version. Netflix and Prime Video are still working.

2020-01-18 01:19:41.556 T:3922023296  NOTICE: ADDON: xbmc.addon v18.5.0 installed
2020-01-18 01:19:41.556 T:3922023296  NOTICE: ADDON: xbmc.core v0.1.0 installed
2020-01-18 01:19:41.556 T:3922023296  NOTICE: ADDON: xbmc.gui v5.14.0 installed
2020-01-18 0

[2020-01-18 13:01] d21spike commented on #6
Unfortunately poor timing for release since it seems that it's the same day Sling decided to update it widevine licensing code. Currently working on a fix.

[2020-01-18 13:25] d21spike commented on #6
This is a sample log showing 403 Unauthorized

`2020-01-18 08:20:03.055 T:3011   DEBUG: CPlayerGUIInfo::InitCurrentItem(plugin://plugin.video.sling/?url=http%3A%2F%2Fcbd46b77.cdn.cms.movetv.com%2Fcms%2Fapi%2Fchannels%2F29938328f60d447299ec48511a09ebab%2Fschedule%2Fnow%2Fplayback_info.qvt&mode=play&name=Comedy+Central)
2020-01-18 08:20:03.073 T:3016   DEBUG: void CXBMCApp::OnPlayBackStarted()
2020-

[2020-01-18 13:36] eracknaphobia commented on #6
@usphil Please try version 0.0.77 it should fix this issue.

[2020-01-18 13:43] d21spike commented on #6
@eracknaphobia Fix confirmed. Commit 784fed3087bddb4fb2be3ec4bb3ab753b7b08105 addressing the problem. Clsoing

[2020-01-18 13:43] #6 closed

[2020-01-18 23:32] eracknaphobia opened #7 "Add closed caption support"

[2020-01-20 05:48] tommyfinn opened #8 "Addon wont open using kodi on windows"
i click to open the addon, it thinks about it and then nothing. using perdition 78 from the ioFault repo
got this from the logs

2020-01-19 23:31:21.527 T:6800 WARNING: Skin has invalid include: NormalButton1
2020-01-19 23:31:50.799 T:11272 WARNING: Previous line repeats 2 times.
2020-01-19 23:31:50.799 T:11272   ERROR: XFILE::CDirectory::GetDirectory - Error getting plugin://plugin.video.sling/
2

[2020-01-20 05:53] #8 closed

[2020-01-20 05:54] tommyfinn commented on #8
user error!

[2020-01-20 14:27] crak3rjack opened #9 "support for Android"
Does install but it does not open in Android

[2020-01-20 14:54] eracknaphobia commented on #9
Log file?

[2020-01-20 15:00] d21spike commented on #9
I have this running on a Galaxy S10+ with Kodi 19 Alpha as well as a Chromebook with Kodi 18.5 from the Play Store.

As @eracknaphobia said, ensure Debugging is turned on in both Kodi and the add-on. Then try to get a log. Also, did you ever get a login prompt or it didn't make it that far at all? Lastly, verify that you have an active internet connection where using the add-on.
![image](https://u

[2020-01-20 20:49] crak3rjack commented on #9
I'm new don't know much but there's a log hope it's what you need, using v-0.0.80
https://pastebin.com/cY8HJufu

[2020-01-20 21:13] eracknaphobia opened #10 "Playback Failed"
Looks like the license key is getting 403'd again

[2020-01-20 21:14] eracknaphobia commented on #9
This is platform independent. Currently playback is broken, see #10

[2020-01-21 12:38] d21spike commented on #10
I think it may be issues on Sling's end, just had multiple attempts to play a movie through the browser and each time it failed on widevine
![image](https://user-images.githubusercontent.com/6399602/72805499-04c79f00-3c21-11ea-8614-708a7a1b7aa3.png)

[2020-01-21 15:48] d21spike commented on #10
As of right now, commit 59511010c6ef366771efc3c2860e8365f8d826b7, version 0.082 has playback functional. The browser based Sling still seems to be a hit or miss. Time will tell if they're just having issues or if changes are coming.

[2020-01-22 16:58] #10 closed

[2020-01-22 16:58] #9 closed

[2020-01-22 17:18] d21spike commented on #4
Been a couple days with no re-appearance, closing.

[2020-01-22 17:18] #4 closed

[2020-01-22 17:19] #3 closed, assigned to nobody

[2020-01-22 17:19] #2 closed

[2020-01-22 17:31] d21spike commented on #7
Sling includes Closed Captioning in two standards, CEA-608 and CEA-708. The closed captions are included within the steam, MPD file. Specifically toggling closed captions via the browser player uses "CC1."

	<Accessibility schemeIdUri="urn:scte:dash:cc:cea-608:2015" value="CC1=eng"></Accessibility>
	<Accessibility schemeIdUri="urn:scte:dash:cc:cea-708:2015" value="1=lang:eng"></Accessibility>

Loo

[2020-01-26 00:47] crak3rjack opened #11 "Error"
@eracknaphobia  @d21spike  Getting an error trying to open channels v-0.0.82 and thanks
https://pastebin.com/69cSP1tu

[2020-01-26 23:41] clonesr1 opened #12 "Not all channels are showing in the guide"
As I was getting guide setup, I noticed the ESPN, MLB network, and NBC sports Network, (and I
(https://github.com/d21spike/plugin.video.sling/files/4128106/Log_1_28_20_sling.tx.txt)
believe Sy FY channel) are missing from the guide, even though when I click to update channels manually, it appears those channels are updated as well. I have 'cleared data in general/guide in the pvr settings as well,

[2020-02-01 03:21] d21spike commented on #11
Addressed in a20894a57b84f7c50dd847c7266319af4b6e279c

[2020-02-01 03:21] #11 closed

[2020-02-01 03:22] d21spike commented on #12
Addressed in e964e6513cd64bcd2170b41974e4d51e7d76f131

[2020-02-01 03:22] #12 closed

[2020-03-15 21:08] goldins commented on #6
I am getting the 403 error on Sling addon version 1.0.2, kodi 18.5 running on a Raspberry Pi 4.

[code]

[2020-03-16 16:44] d21spike commented on #6
@goldins If you are indeed on version **1.0.2** then you are using the "SlingTV" add-on, the issue you just commented on belongs to the "Sling" add-on which currently is on version **0.0.101**.

I did just check a couple channels and this add-on ("Sling") is indeed still able to authorize/play streams. I suggest you recheck your setting and make sure you are using the correct add-on. As of right n

[2020-03-26 13:10] d21spike commented on #1
Commit 52d433227f244410e0d89ef5c537556df14dc574 has begun the ground work for this feature. You can now record things from My TV. You can also delete recordings via "Recordings"

[2020-04-09 07:09] hackthis02 commented on #7
Is there any update on this?

[2020-04-09 14:59] d21spike commented on #7
@hackthis02 I've tried the suggestions from this [post](https://forum.kodi.tv/showthread.php?tid=351048&pid=2925358#pid2925358) and wasn't able to have a working result.

In the above linked [issue](https://github.com/peak3d/inputstream.adaptive/issues/199), at the very end the developer mentions that he added properties to address this but I've yet to see what he meant by this.

[2020-07-06 01:15] goldins commented on #6
@d21spike thanks for the clarification. Works fine on `0.0.103`!

I installed 1.0.2 through the built-in add-on manager and then found this repo. Didn't realize they were different!

[2020-07-13 17:27] xags commented on #1
I'm starting to look into this and attempting recording integration with the built-in guide. Have you figured out how to even display the record button within the guide? Other PVR backends show this, assuming it has recording capabilities. Wouldn't IPTV-simple need to be modified to make this all work?

[2020-07-13 18:21] d21spike commented on #1
To the best of my knowledge you can't through python. The python PVR library is severely limited and has been the cause of many issues related to the guide. In a sense you could try to fork/modify IPTV-simple to suit your needs. This would require you to familiarize yourself with the add-on/libraries. After all that, I still cannot say definitively if it would be possible/allowed.

My next approac

[2020-07-15 19:10] xags commented on #1
Couldn't you just create a context menu addon that triggers to record the selected item when the guide is displayed?
I'm not exactly sure how you could read the current selected program though...

[2020-07-16 14:19] xags opened #16 "Running Slinger service on remote machine"
I'd like to know if it would be possible to run the Slinger service on a remote non-kodi machine. I have six different clients in my home that are using this plugin and the VOD/channel/guide update process has to run on each of them. Since I only am concerned with the channel and guide data that gets generated, is it possible to break out just the slinger.py service?

[2020-07-25 18:55] #16 closed

[2020-08-02 00:12] crak3rjack opened #18 "stopped working "spins but doesn't load""
@eracknaphobia @d21spike
Kodi 18.8 Android app

2020-08-01 19:49:28.473 T:32511  NOTICE: VideoPlayer::OpenFile: plugin://plugin.video.sling/?url=http%3A%2F%2Fcbd46b77.cdn.cms.movetv.com%2Fcms%2Fapi%2Fchannels%2Fbe5a3bce259a4c13947f4b4fbae5e005%2Fschedule%2Fnow%2Fplayback_info.qvt&mode=play&name=A%26E
2020-08-01 19:49:28.474 T:32718  NOTICE: Creating InputStream
2020-08-01 19:49:28.573 T:32718   ER

[2020-08-03 12:30] d21spike commented on #18
@crak3rjack I just tried the same channel "A&E" on my android device without any issue. The fact that the errors you were getting are 404 - aka Not Found suggests to me that it may be a connectivity issue. Try again and let me know.

[2020-08-03 13:56] crak3rjack commented on #18
@d21spike no luck same issue "spins", but in 18.7 does work with no issues

[2020-08-03 14:06] d21spike commented on #18
@crak3rjack So the playstore provides 18.7, are you downloading 18.8 from the Kodi website?

[2020-08-03 14:08] crak3rjack commented on #18
I use all Kodi from the website 32bit

[2020-08-03 14:16] d21spike commented on #16
So the service depends on the add-on itself mainly for authorization portion of it. This takes care of the user subscriptions, regional info, and etc.

For it to be truly standalone all that would need incorporated. With hard-coded values it is possible to do, but at that point much simpler just to have a script on a cron job populating a db file. That said, there's no harm in installing the add-o

[2020-08-03 14:30] d21spike commented on #18
@crak3rjack I tested 18.8 64bit from Kodi website with the same issue. This is a known Inputstream.Adaptive bug as seen here
[Inputstream.Adaptive Issue #362](https://github.com/peak3d/inputstream.adaptive/issues/362)

Unfortunately best advice I can give you currently is to use the Playstore version (18.7) and wait for the next release.
Closing the issue as it is a bug with another add-on.

[2020-08-03 14:30] #18 closed

[2020-08-03 14:53] xags commented on #16
@d21spike thanks for the response! I was successfully able to fully move the Slinger service and allow it to dynamically update the values.

My use case was to have the ability to run it on a regular Linux server so that my multiple endpoints talk to it instead of each of them updating their own database.

It also fixes all of the oddities when integrating with iptv-simple and doesn't require relo

[2020-08-03 14:59] d21spike commented on #16
@xags Yeah I've had it in a straight python script updating a DB with no issue. I've also had an instance where it was running on a remote hosting server in PHP. As long as Sling knows where the database is, all is well.

Within the scope of the add-on, I'm sure you can understand why such functionality is not possible given that it has to run on multiple devices and abide by Kodi rules.

If you'r

[2020-08-03 15:07] xags commented on #16
@d21spike, yep that's exactly what I'm doing. Very happy and totally understood the way it's built today will work for most people.

[2020-08-05 21:33] crak3rjack opened #19 "Add multiple accounts"
@d21spike  Request if it's possible to add more then one account to the existing addon or if you could make another fork to log in with a different and thanks.

[2020-12-03 15:33] faptaincrunch opened #21 "Sling fails to open after entering credentials"
A couple of us have an issue where after installing the latest Sling zip from Github, Sling fails to load. After uninstalling and setting Sling to default, and logging in, Sling goes to local video screen and fails to open. Using Sling from Master.

Kodi log https://paste.kodi.tv/juvexepiyu.kodi and log from another user with same issue https://paste.kodi.tv/exunolopec

[2020-12-06 15:34] bds3151 opened #22 "Channels not playing "Live""
I'm on a Windows 10 machine running Kodi 18.9 and inputstream,adaptive 2.4.5 and every channel starts from the beginning of the program -  not live. Also, when the program ends and sometimes randomly, the channel disconnects and goes back to the Kodi home screen.

[2020-12-06 15:40] xags commented on #22
I'm having the same issue. Debug log includes nothing interesting.

[2020-12-06 16:10] Doctor-Eggs commented on #22
The one thing that I'm seeing in my log is that it appears InputStream Adaptive thinks that it's video on demand (Type: VOD) which aligns with it starting from the beginning and then stopping when it gets to the end.
Example:
INFO: AddOnLog: InputStream Adaptive: Successfully parsed .mpd file. #Periods: 1, #Streams in first period: 2, Type: VOD, Download speed: 10316768.0537 Bytes/s

[2020-12-06 17:07] d21spike commented on #22
I've been looking into the playback issues, hopefully have something soon.

[2020-12-06 17:58] xags commented on #22
I've been running some burpsuite captures all morning and digging too and have yet to see a difference between browser and the plugin. Have you found anything interesting @d21spike? I did see an IA issue but wouldn't think it would be related: https://github.com/peak3d/inputstream.adaptive/issues/560

[2020-12-06 23:00] d21spike commented on #22
@xags I feel you may be onto something. Looking through the logs I do see inputstream.adaptive throwing the following

...
`2020-12-06 17:49:24.542 T:5812   DEBUG: ActiveAE::SyncStream - average error of -52.027954, start adjusting
2020-12-06 17:49:24.542 T:5812   DEBUG: ActiveAE::SyncStream - average error -22.027954 below threshold of 30.000000`
...
`2020-12-06 17:49:25.601 T:2108   DEBUG: CDVDC

[2020-12-07 19:07] xags commented on #22
@d21spike Great analysis! So for now it doesn't look like anything can be done unless implemented within IA. It seems really odd that those of using Leia with IA 2.4.5 (that hasn't had a commit since May 18th) that the behavior would suddenly change. I tried to reference a previous MPD from Sling but couldn't find one. I have a feeling that there may be something added within it that's throwing IA

[2020-12-07 19:30] d21spike commented on #22
@xags my best guess is Sling changed their MPD format, perhaps standardizing it more. Not surprised either since right now I'm stuck rewriting the login script. Currently starting fresh you wont be able to log in since they changed their endpoints.

[2020-12-08 21:11] ilovegit1 commented on #21
I am having the same issue. I downloaded the most recent master file from yesterday. After entering my credentials it takes me back to the local library directory. Log file entry:

ERROR: XFILE::CDirectory::GetDirectory - Error getting plugin://plugin.video.sling/
ERROR: CGUIMediaWindow::GetDirectory(plugin://plugin.video.sling/) failed

Appreciate the help.

[2020-12-08 21:18] eracknaphobia commented on #21
Currently being worked on https://github.com/d21spike/plugin.video.sling/issues/22#issuecomment-740131171

[2020-12-08 22:03] d21spike commented on #21
@ilovegit1 make sure Debugging is turned on via Add-on settings (as well as debugging in Kodi settings)
![image](https://user-images.githubusercontent.com/6399602/101546687-2cc60b00-3977-11eb-9162-ed3ae2ae2721.png)
and
![image](https://user-images.githubusercontent.com/6399602/101546787-4ff0ba80-3977-11eb-9c2d-04a76601ebf4.png)

 Also, make sure you're on version 0.0.104 or above. Then post a log

[2020-12-08 23:54] matthuisman commented on #22
it does check the type..
https://github.com/peak3d/inputstream.adaptive/blob/Matrix/src/parser/DASHTree.cpp#L1020

Are you sure your providers mpd isn't now setting type=static in their mpd?
Can someone provide the mpd that isn't working?

[2020-12-09 00:13] xags commented on #22
Here is a recent MPD file:

`<?xml version="1.0" encoding="UTF-8"?>
<MPD xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="urn:mpeg:dash:schema:mpd:2011" xmlns:cenc="urn:mpeg:cenc:2013" xmlns:dvb="urn:dvb:dash:dash-extensions:2014-1" xmlns:move="http://www.movenetworks.com/dash/v1" xmlns:ms="urn:microsoft" xmlns:XMLSchema-instance="http://www.w3.org/2001/XMLSchema-instance" XMLSchema-in

[2020-12-09 00:16] xags commented on #22
Here is a recent MPD:
[code]

[2020-12-09 00:38] taylormia commented on #22
I'm experiencing the same issue with the channels not playing live. Here's my debug log if it helps. I played CNN to replicate:

https://paste.kodi.tv/avudihafog.kodi

Let me know if I can provide any other logs that may help.

Thanks.

[2020-12-09 00:43] d21spike commented on #22
@matthuisman See below, notice the first two are live and are **dynamic** but still show up as VOD. The third is On Demand and is coded **static** and shows up as VOD. I can't deny the code you referenced, it does check. But perhaps it's overwritten at a later point then?

**AMC Live**

[code]

**MPD Header**
[code]

**Comedy Central Live**

[code]

**MPD Header**
[code]

**Now for comparison, On

[2020-12-09 01:03] matthuisman commented on #22
i see the issue, the mpd is using mediaPresentationDuration.
https://github.com/peak3d/inputstream.adaptive/blob/Matrix/src/parser/DASHTree.cpp#L1015

It comes after the type attribute

So, its looping through each attribute.
It sees type=dynamic and bStatic is set to False
Then it comes across mediaPresentationDuration which sets bStatic to True

[2020-12-09 01:14] d21spike commented on #22
@matthuisman Definitely makes sense. I appreciate your help with this. Seems like I have to keep getting familiar with the IA code and MPD format.

My issue with proxy would be more overhead, which smaller devices probably wouldn't like. I personally think that no matter what if the type is **dynamic** that it should be treated as live, regardless of the order. Perhaps a flag as an override after

[2020-12-09 02:04] ilovegit1 commented on #21
Hello,

As requested, see attached log.

[kodi.log](https://github.com/d21spike/plugin.video.sling/files/5663076/kodi.log)
![Etsy Tax Payer](https://user-images.githubusercontent.com/75700302/101564285-b8439a00-397f-11eb-9e8f-e0d4028fc492.JPG)

Please advise,
Thanks!

[2020-12-09 06:20] matthuisman commented on #22
Here is a test Leia Windows version of IA to test with:
**https://f.mjh.nz/ia/2.4.6-windows-x86_64-vod-pr.zip**

[2020-12-09 13:18] Doctor-Eggs commented on #22
@matthuisman
Tried it but it wasn't successful. I looks like it is now reading it in as live tv but it eventually gives a 404 stream not found error.

https://paste.kodi.tv/ajekaqusur.kodi

[2020-12-09 13:34] d21spike commented on #22
Kodi 18.4 Wouldn't install, below is the message.
![image](https://user-images.githubusercontent.com/6399602/101632047-4dcc4180-39f3-11eb-9f1e-d32cbbea2df1.png)

Kodi 18.9 Took it no problem, unfortunately playback failed. I captured a A&E Live log snippet both with the IA version above and the public release. My current take-away is the changes you've made successfully designate the channel as li

[2020-12-09 18:11] matthuisman commented on #22
Oh, that second version I posted doesn't have the 1st fix in it to fix the original wrong segments issue (doh!). I'll get a test version with both fixes applied

[2020-12-09 18:56] xags commented on #22
I'd be happy to test a Linux x86_64 version if that gets built too.

[2020-12-09 19:15] hagertyoh opened #23 "delimiters not consistent with IPTV Merge"
Using this app with IPTV Merge to place the epg in iptv simple client. It appears Somewhere between the processing of the two apps in channel tag/category, simple tv is using a comma delimiter to separate multiple tags and iptv merge only recognizes semi colons.

[2020-12-09 23:33] matthuisman commented on #22
ok, here is a Leia Windows build to try with both PRs in it
**https://f.mjh.nz/ia/2.4.5-windows-x86_64-with-prs.zip**

Most interested in what the time displays at the bottom, and if it corrects itself at the next show etc.
Also how rewinding goes etc

[2020-12-10 00:02] d21spike commented on #22
So this is what I'm seeing, definitely acts more like live but seems to be about 20 minutes behind. I have a feeling the time is arbitrary and it just starts playing at the beginning of the playlist file. If you notice in the screenshot it says the episode starts at 6:30 but in reality the screenshot was taken less than a minute into the new episode. Also, when I jump out and back in it, it jumps

[2020-12-10 00:07] bds3151 commented on #22
Still not playing live. 

-----Original Message-----
From: Matt Huisman <notifications@github.com>
To: d21spike/plugin.video.sling <plugin.video.sling@noreply.github.com>
Cc: bds3151 <bds3151@verizon.net>; Author <author@noreply.github.com>
Sent: Wed, Dec 9, 2020 3:33 pm
Subject: Re: [d21spike/plugin.video.sling] Channels not playing "Live" (#22)

ok, here is a Leia Windows build to try with both

[2020-12-10 00:39] matthuisman commented on #22
@peak3d will need to have a look.

[2020-12-10 00:41] d21spike commented on #22
@matthuisman Will another log be needed?

[2020-12-10 19:50] matthuisman commented on #22
i have one more idea to try...
Obliviously IA doesnt like having mediaPresentationDuration for Live content.
So my plan it to only set that if the content is VOD.

Will have build soon to test.

[2020-12-10 20:26] Doctor-Eggs commented on #22
Tried the new build but it is still going to the beginning of the episode.

[2020-12-11 15:39] d21spike commented on #22
Yeah same behavior.

[2020-12-14 05:29] hagertyoh commented on #23
Disabling IPTV merge, i realized IPTV merge is not the problem so must need fixed in Sling addon

[2020-12-15 14:37] d21spike commented on #23
@hagertyoh I'm assuming what you're referring to here is in the channels.m3u file, specifically the `group-title` tag associated with channels.

For example:
[code]
Here we can pick out: `group-title="Sling TV; Entertainment, Movies"` and you'll notice this has "Sling TV" followed by a semicolon and then comma separated groups associated with that channel. What this does is designate a parent grou

[2020-12-15 16:50] hagertyoh commented on #23
@d21spike Yes that is the file location.   i think Make them all semicolons,  Using your example the comma between " Entertainment, Movies” needs to be a semicolon.  There are no sub groups in the PVR.  I am not proficient but it appears the "group-title=" sets the metadata  listing all the groups this channel, A&E, belongs.  When filtering,  A&E should show up in the Sling TV,  Entertainment, and

[2020-12-15 17:33] d21spike commented on #23
@hagertyoh See commit d6fb712ef9aab348f3afc4a08cc6b03cb180022b

[2020-12-15 20:29] hagertyoh commented on #23
@d21spike   thanks, i might not be explaining my thoughts very well but i think you will like the result.  Is there a way for me to test or are you good?  This is my very first time working on this forum.

Unrelated to this topic, i saw issue reported on the kodi forum on the last widevine upgrade cause significant playback issues.

[2020-12-15 20:46] taylormia commented on #22
Just wanted to know if @peak3d or anyone else is pursuing a fix.....or is it not fixable?

[2020-12-15 21:01] d21spike commented on #23
@hagertyoh The changes are pushed so you can either clone this repo as a zip and install that via kodi or if you use my IO-Fault repo that has it pushed as well.

Yes live channels are currently experiencing issues.

[2020-12-16 04:25] hagertyoh commented on #23
@d21spike  - thanks works great.

[2020-12-16 04:25] #23 closed

[2020-12-20 05:28] sha1 commented on #22
Looking at test MPDs at https://github.com/Dash-Industry-Forum/dash-live-source-simulator/wiki/Test-URLs, I see that start time is passed to the server through the URL.
E.g. http://livesim.dashif.org/livesim/testpic_2s/Manifest.mpd#t=posix:now
http://livesim.dashif.org/livesim/testpic_2s/Manifest.mpd#t=posix:1465406946

Don't know if this is just a feature of the demo server implementation, or if

[2020-12-20 05:37] sha1 commented on #22
From https://modernweb.com/building-an-online-video-player-with-dash-264/, which seems to support my previous comment:

Furthermore, how to calculate the live edge:

[2020-12-20 21:14] d21spike commented on #22
@taylormia Somewhat, there was an issue opened on inputstream.adaptive here:
[[MPD] Multiple-period live starting at end of 1st period instead of end of 2nd period #574](https://github.com/peak3d/inputstream.adaptive/issues/574)

Until the developer comes up with something, it's up to trial and error like seen above.

@sha1 Below is a sample live stream performed by Browser for Sling.tv
As you can

[2020-12-20 21:36] matthuisman commented on #22
that IA issue was for another add-on of mine.
Is sling using multiple periods? I dont think it is..

[2020-12-20 21:49] d21spike commented on #22
@matthuisman My mistake, I assumed it was related due to timing of the issue. If need be I can start another issue for him. Regardless, as I said above there isn't anything special regarding timestamps here. Below is a sample capture screenshot from QVT to M4S. Currently I'm trying to get a grasp on compiling inputstream.adaptive for Kodi so maybe I can do some testing, definitely a learning curve

[2020-12-20 22:05] xags commented on #22
It looks like @matthuisman is spot on with the mediaPresentationDuration causing the issue. If I proxy and remove that from the MPD, live plays as it's supposed to. Setting it to other values doesn't appear to do anything...

[2020-12-20 22:15] matthuisman commented on #22
hmm, I did do a test build that should have fixed that, but I was told it was still not playing at the live head.

[2020-12-20 22:15] d21spike commented on #22
@xags That's interesting since the build in [here](https://github.com/d21spike/plugin.video.sling/issues/22#issuecomment-742756598) was supposed to address that. Further upstream perhaps?

Realistically speaking, I don't have a problem using the existing http server in the add-on to "re-host" the mpd. I just would have preferred an issue at the source (IA) that way other add-ons don't experience t

[2020-12-20 22:18] xags commented on #22
@d21spike agreed, not ideal. What I'm doing can easily be re-created by using BurpSuite or ZAP and modifying the MPD response (match and replace) to remove the mediaPresentationDuration and associated value.

[2020-12-20 22:21] matthuisman commented on #22
your 100% that its play from live and not the start of the show?
You can cross-check with live stream via their website or app..

[2020-12-20 22:48] xags commented on #22
@matthuisman Yes I have validated between the web and Kodi with about 30 channels.

[2020-12-20 22:56] matthuisman commented on #22
is there "presentationTimeOffset" anywhere in the MPD?

[2020-12-20 23:00] matthuisman commented on #22
oh wait, your using 2.4.5.... not 2.4.6 ?

[2020-12-20 23:03] xags commented on #22
@matthuisman  Yes running 2.4.5 IA on Leia and there is a presentationTimeOffset with a value within the MPD.

[2020-12-20 23:04] d21spike commented on #22
@matthuisman
See this [Demo Video](https://imgur.com/a/Wo4E2vA)

[code]

[2020-12-20 23:08] matthuisman commented on #22
@xags
Can you try 2.4.6?

[2020-12-20 23:34] xags commented on #22
@matthuisman I actually only have Linux instances and workstations. I'll attempt to see if If I can get a Windows host going but it will take awhile. @d21spike Here is a video of it playing live for me (with proxy config). It is calculated about a minute off (advanced in Kodi) but I consider that fine.

https://user-images.githubusercontent.com/37048519/102727137-87e9ed00-42e9-11eb-8622-3844e82982

[2020-12-20 23:54] d21spike commented on #22
@xags I would consider 1 minute acceptable. If I recall previously it was within 30 seconds. Unfortunately for me, test2.zip had the same results.

https://user-images.githubusercontent.com/6399602/102727635-cb962400-42f4-11eb-874a-c868870f5820.mp4

[2020-12-20 23:56] matthuisman commented on #22
so, there must be another issue introduced between 2.4.5 and 2.4.6

[2020-12-20 23:57] sha1 commented on #22
@matthuisman Tested on Kodi 18.9 (Win10).

Both tests fail. Also tried removing the mediaPresentationDuration attribute using a proxy with both tests, but no difference.

[2020-12-21 00:03] matthuisman commented on #22
ok, ill do the same changes on 2.4.5 and see how we go

[2020-12-21 00:14] xags commented on #22
@matthuisman Any chance for a Linux build? I'm about to throw my computer out the window trying to get Kodi going on a Windows dual-boot. @sha1 have you tried with 2.4.5 and proxy? As you can see in my video it does work when removing. Still trying to get Windows box going..

[2020-12-21 00:18] d21spike commented on #22
@xags why not a vm? (Don't throw .... linux ftw)

@matthuisman Test3 definitely a success, Test4 seems closer but I think that's just luck.

https://user-images.githubusercontent.com/6399602/102728164-28470e00-42f8-11eb-810e-cffa811d38b9.mp4

[2020-12-21 00:21] sha1 commented on #22
Kodi 18.9, Win10, IA 2.4.5

test3: Works but maybe off by 40-50 secs
test4: Works. Less delay(?)

[2020-12-21 00:30] matthuisman commented on #22
I think test3 should be correct.
That still sets the mpt time (overallSeconds), but doesn't set it to live.

Can users please test both versions. Check what the OSD says for length.
See if you can rewind / ffwd etc all correctly.
**Try to find difference between test3 and test4**

[2020-12-21 00:41] xags commented on #22
@d21spike That's what I'm trying now but IA won't install in Windows for some reason.. My Windows-foo is weak but unless it's extremely easy to build for Linux please don't @matthuisman. You will have coffee donations soon regardless! Curious what you believe the problem is?

[2020-12-21 00:55] d21spike commented on #22
@xags What kind of image do you need? I may be able to spin one up for you.

@matthuisman I think my last video covered both, if you need more let me know.

[2020-12-21 01:00] matthuisman commented on #22
when testing, can you not do it via Tv / PVR.
As that is what is putting in the end times etc.
Just test test directly via the add-on itself?

[2020-12-21 01:05] bds3151 commented on #22
Test4 looking good. Can FF and Rew ok. At the end of a program, the channel continues and doesn't drop back to the home screen.  Thanks to all who contributed to the fix.

[2020-12-21 01:35] d21spike commented on #22
@matthuisman Here is via add-on:

00:08 - Current Release
00:53 - Test3
01:43 - Test4

https://user-images.githubusercontent.com/6399602/102730433-c63fd600-4302-11eb-9714-bd0a1c6ddf90.mp4

[2020-12-21 01:50] sha1 commented on #22
Kodi 18.9, Win10, IA 2.4.5

@matthuisman Both test3 and test4 seems broken inside the Sling addon. There's something strange going on with the elapsed time, the progress bar is broken, and I'm able to navigate the stream. But both start at the live edge of the stream inside the addon.
From the , PVR both start at the live edge, and elapsed time & the progress bar works. Stream navigation does not

[2020-12-21 21:28] matthuisman commented on #22
@sha1
Inputstream doesn't support "VOD'y" Live streams.
It will always show itself at the live edge.
If you've played live streams on other add-ons - thats the same behaviour.
its the pvr stuff that adds in the end time of current program etc.

Again, restarting a show from the start isn't supported either unless the add-on implemented the archive support stuff.
Best to treat these as Linear live

[2020-12-22 16:10] xags commented on #22
@matthuisman I'll shoot you over some credentials for one of my accounts.

[2020-12-22 20:18] matthuisman commented on #22
can someone explain how to use this add-on.
I click it under Videos, enter credentials and then nothing...

If i restart, I see it trying to "Download channel info" but it's taking forever.

Surely I can use the add-on without that, just to play the channels without EPG?

[2020-12-22 20:26] d21spike commented on #22
@matthuisman On fresh install you should experience the following upon launching the add-on:

1. Prompt for credentials
     If correct, you will be taken to the main menu.
2. Once at the main menu, selecting channels will trigger the add-on to download your subscription package. Specifically, whichever channels you are subscribed to as well as guide data for a single day. **Downloading channel in

[2020-12-22 20:27] xags commented on #22
@matthuisman  In the add-on there is a Slinger service menu that you can disable so that it doesn't sit an run forever (likely what you're seeing). Once you do that reload Kodi, go into the add-on and select Channels. This list also takes a few minutes to populate but should persist after the first download. Once you're in there select a well recognized channel that has a timestamp to the right (t

[2020-12-22 20:30] matthuisman commented on #22
log attached
[kodi.log](https://github.com/d21spike/plugin.video.sling/files/5731895/kodi.log)
the add-on just does nothing when clicked. loads for a bit then gives the kodi blank directory (files)

[2020-12-22 20:43] xags commented on #22
@matthuisman I did through web not Kodi--D'oh, try now it should work.

[2020-12-22 20:45] d21spike commented on #22
@matthuisman Yeah you're definitely not getting past the login in this log.

The quoted part is triggered by the code [here](https://github.com/d21spike/plugin.video.sling/blob/d6fb712ef9aab348f3afc4a08cc6b03cb180022b/resources/lib/classes/auth.py#L250)
Changing line 250 `response_json['response_context']` to `response_json` will give you the complete response but I don't feel that will help you v

[2020-12-22 20:49] matthuisman commented on #22
yah working now.
thanks @xags

[2020-12-22 20:51] xags opened #24 "Audio on Premium Channels Not Working Consistently"
When using the addon, premium channels (EPIX, Showtime, Starz) frequently have missing audio when starting the channel. Sometimes going to a non-premium channel and switching back fixes the issue. While troubleshooting I've found the removing the following from sling.py allows consistent playback without audio issues for premium.

The code chunk that is causing the issue (~line 251):

[code]
Comme

[2020-12-22 20:53] d21spike commented on #24
@xags This used to be a fix for (I believe) aac audio being selected and devices that didn't support it would have no sound. This was a work-around by @eracknaphobia to select the first in the list if I recall. If it is no longer needed or needs tweaked I can take a look.

[2020-12-22 21:02] xags commented on #24
@d21spike Hmm, it seems like maybe a race condition to me where it takes a second to start the stream and receive the first audio segment and by the time that happens Kodi sets the stream to default/nothing. I'd certainly appreciate a look. Not having to maintain a separate fork is nice. :)

I can say that I've had it commented-out for 4-5 months without a single audio related issue but my 4 devic

[2020-12-22 21:04] d21spike commented on #24
@xags I look into it and yeah I agree on the extra work. As quick test I saw an immediate improvement on Starz Edge. I'll test more channels. If no issues, I'll push it soon.

[2020-12-22 21:39] xags commented on #22
@matthuisman A channel that should work is Epix/Epix2. I integrate it with iptv.simple so I actually don't use the add-on directly and have very little problems--I know testing from the add-on is probably preferred with what you're doing.. Guessing it hasn't parsed the guide yet. Selecting Epix channels should work though..

![image](https://user-images.githubusercontent.com/37048519/102935444-c44

[2020-12-22 21:56] matthuisman commented on #22
im so confused. I click Epix and I get another menu with "Available Now" "EPIX Action" etc.
All VOD stuff. How do you play a live channel via the add-on???
shouldn't be this hard right?

[2020-12-22 22:00] xags commented on #22
@matthuisman Yeah that's not right. Should take a minute or two to load the first time. I'd delete the database under settings, disable slinger service, restart, log-in, try again. I'm guessing it may have cached your lineup incorrectly (I had to re-enable billing for this account). I understand & happy holidays.

[2020-12-22 22:17] matthuisman commented on #22
tried once more with completely fresh (deleted user data folder)
logged in, long wait for channels. again - no durations...
chose a channel, and got that 2nd menu - not a live stream.
Went back and long wait again.

[2020-12-22 22:34] d21spike commented on #22
@matthuisman Basically what happens is any time you visit the channels menu, a few things happen:

1. Your region info is checked. This is if you travel and wanted regional channels. Basically an account has a subscription but that varies on location.
2. It checks the subscription packs and checks to see if the channel is inside the internal database, if it's not a channel is added. This is to han

[2020-12-22 23:08] d21spike commented on #22
Also, this is very **alpha** but @matthuisman if you want to try it
[Sling Guide](https://github.com/d21spike/script.sling_guide)

This script add-on just targets the database directly, so anything you've already downloaded should show up there. Hitting `Enter` should start playback via the add-on.

Lastly, below is a zipped DB file. This should cover both Sling Orange and Blue for the next two da

[2020-12-24 02:14] d21spike commented on #24
@xags Please try version 0.0.108 pushed with commit b70529e1f756bc78129fb410292283b40e836e38

[2020-12-27 15:19] xags commented on #24
@d21spike I can validate that this fixes the issues. No other auth or audio issues present with the changes that I can tell. Thanks!

[2020-12-27 15:19] #24 closed

[2020-12-27 19:05] d21spike commented on #22
@xags Would you be able to try Sling version 0.0.109 (latest commit or IOFault repo)

Once installed, go into Sling settings. You'll notice the addition of two new settings under `Slinger Service`:

1. Temp Fix Live
2. Run Updates

![image](https://user-images.githubusercontent.com/6399602/103177800-9e44fb00-484b-11eb-91e0-59dca869b2f3.png)

Toggle the first two to `on` as shown in the screenshot,

[2020-12-27 22:53] xags commented on #22
@d21spike I can confirm that all seems to be playing properly! Awesome work. Tried a few different scenarios (stale db/new db/wrong creds/cleared creds/etc) without issue.

[2020-12-28 00:24] d21spike commented on #22
@xags I appreciate the testing and was hoping that would be the outcome. I will share this with the Kodi post.

@matthuisman please see above. I basically proxied the MPD as you mentioned previously. I am completely removing `mediaPresentationDuration` from the mpd file. The results are as follows:

- Leia Official Release (Without Substitution): Playback works but starts at the beginning of the p

[2020-12-29 22:58] matthuisman commented on #22
with 2.4.6, try removing "availabilityStartTime" in proxy. also try removing "presentationTimeOffset".
Try a combination of removing either, both. etc

[2020-12-31 14:09] eracknaphobia commented on #22
Here's what I got with my testing with IA 2.4.6

Removed `mediaPresentationDuration, availabilityStartTime & presentationTimeOffset`
ERROR: AddOnLog: InputStream Adaptive: Download http://REDACTED.m4s failed with error: 404

Removed `mediaPresentationDuration & availabilityStartTime`
ERROR: AddOnLog: InputStream Adaptive: Download http://REDACTED.m4s failed with error: 404

Removed `mediaPresentat

[2021-01-15 08:35] ckuyehar commented on #22
@matthuisman @eracknaphobia

so if you take a look at the contents of the 404 response it contains the following:

`"message": "Request for stream XXXXXXX segment 0x9999 is beyond the stream end (0x9700; limit 0x9701)"`

if we look at the <SegmentTemplate> attribute startNumber we see that in order to download the correct m4s we must translate the startNumber from decimal (example: 38656) to hex (

[2021-02-21 18:08] JoeIsCool opened #25 "inputstream.adaptive is missing"
I am using the Slingtv addon on Kodi on vertsion 18.8 Debian package version: 2:18.8+dfsg1-2 Media Center Kodi from Debian.
When I try to watch any ondemand show I get the message, "inputstream.adaptive is missing on your Kodi install. This add-on is required to play this content." I think the things it needs are probably in inputstreamhelper, but I could be wrong.

[2021-02-21 20:43] d21spike commented on #25
InputStream Adaptive is a plugin hosted on the Kodi  repo. You can install it from there under "VideoPlayer InputStream". It is required to play any Sling content via this addon.
![image](https://user-images.githubusercontent.com/6399602/108638068-69c07a80-745b-11eb-9c16-3cd129b32e44.png)

[2021-02-22 03:48] JoeIsCool commented on #25
"VideoPlayer InputStream" is not an addon category and searching for that term yields nothing. The closest category is "Video addons". It doesn't have it. Searching all addons for the word Inputstream only returns "InputStream Helper".

[2021-02-22 15:33] xags commented on #25
@JoeIsCool The package isn't in the stable Debian branch but it is in testing:

https://packages.debian.org/testing/source/kodi-inputstream-adaptive

Deb-multimedia may also have it (under stable):

apt-cache policy kodi-inputstream-adaptive
kodi-inputstream-adaptive:
  Installed: (none)
  Candidate: 2.4.6-dmo0+deb10u1
  Version table:
     2.4.6-dmo0+deb10u1 1
          1 http://www.deb-multimedi

[2021-02-24 03:50] JoeIsCool commented on #25
It looks like using Debian Testing leads to "xbmc.python.version 2.26.0 could not be satisfied". Maybe if you use something other than Debian testing but still install that package, it will work.

[2021-03-03 17:55] JoeIsCool commented on #25
Just so you know, this add-on does not work in Kodi 19. And since that is the current version, Kodi 18.9 has to be built from source. And getting the add-on from apt does not seem to add it to the source-built Kodi 18.9. So I think it is beyond your responsibility to fix this, unless you know off the top of your head where I can download inputstream-adaptive from.

[2021-03-03 21:33] #25 closed

[2021-03-17 03:40] matthuisman commented on #22
i've got IA 2.4.5 here for various arches if anyone struggles to find:
https://f.mjh.nz/ia/

[2021-03-18 02:19] bds3151 opened #26 "A few channels are not working"
I have a new issue on my Win10 Kodi 18.9 machines. Some of the Sling channels work and a few don't. When I click on the tile in Kodi for lets say History, it starts clocking and then stops and goes back to the Kodi home screen. The log reports an issue with Inputstream Adaptive - "could not open/parse mpdURL". Many other channels work fine. Seems like Sling changed a few channels as others like Sc

[2021-03-20 13:58] xags commented on #26
@bds3151 Can you include a debug log? I have no issues playing either/any channels.

[2021-03-20 14:11] bds3151 commented on #26
Log is at https://paste.kodi.tv/tinezuxino. Thanks for taking a look. So glad it's still being looked after.

-----Original Message-----
From: xags ***@***.***>
To: d21spike/plugin.video.sling ***@***.***>
Cc: bds3151 ***@***.***>; Mention ***@***.***>
Sent: Sat, Mar 20, 2021 6:58 am
Subject: Re: [d21spike/plugin.video.sling] A few channels are not working (#26)

@bds3151 Can you include a debug l

[2021-03-20 16:57] d21spike commented on #26
@bds3151 Glancing at your log, looks like Kodi fails to open the playlist file. Was the Slinger service running at the time of this log?

If it was, can you have it running and try opening one of the links referenced below and paste your output?

[code]

In the meantime, I'll try to replicate this. Could you tell me, do you have Sling Orange or Blue? This would save me some time tracking down the

[2021-03-20 17:12] bds3151 commented on #26
I have sling Blue.

[2021-03-20 17:13] bds3151 commented on #26
Slinger service was running.

[2021-03-20 17:15] bds3151 commented on #26
The primary channels that I have identified as failing are Paramount, History, and Travel.

[2021-03-20 17:26] bds3151 commented on #26
"If it was, can you have it running and try opening one of the links referenced below and paste your output?"
Since Slinger was running I'll assume you meant to turn it off and run again....https://paste.kodi.tv/imomahefin. The result was the same when I tried to open the Travel channel.

[2021-03-20 17:38] bds3151 commented on #26
Or did you want me to try to open one of those links using a browser? I tried but was told I wasn't authorized.

[2021-03-21 11:54] d21spike commented on #26
@bds3151 Yup I wanted to see what the result of one the links was, just in case the addon was modifying them improperly.

Anyways, "I believe" version 0.0110 should address your issue. The changes are in this commit 755e12d5aa6547e878723b84f06ff6ad95fd8507. It's a temporary solution till I come up with a more permanent one.

[2021-03-21 16:21] bds3151 commented on #26
I tried it and unfortunately had the same issue. Log is at https://paste.kodi.tv/iqiduyisag. Thanks again for looking into this.

-----Original Message-----
From: d21spike ***@***.***>
To: d21spike/plugin.video.sling ***@***.***>
Cc: bds3151 ***@***.***>; Mention ***@***.***>
Sent: Sun, Mar 21, 2021 4:54 am
Subject: Re: [d21spike/plugin.video.sling] A few channels are not working (#26)

@bds3151 Y

[2021-03-21 16:35] d21spike commented on #26
@bds3151 I've had to try to play the channel a few times in a row sometimes to get the license to update and playback to begin. Can you try the same and report back? As you can see mine is playing....
![image](https://user-images.githubusercontent.com/6399602/111912843-da01f200-8a41-11eb-9dad-76a757cf9267.png)

Also in add-on settings, make sure you enable Debugging
![image](https://user-images.gi

[2021-03-21 17:14] bds3151 commented on #26
I've tried 5 times in a row and nothing. Here is a fresh log... https://paste.kodi.tv/ojujohapom

-----Original Message-----
From: d21spike ***@***.***>
To: d21spike/plugin.video.sling ***@***.***>
Cc: bds3151 ***@***.***>; Mention ***@***.***>
Sent: Sun, Mar 21, 2021 9:35 am
Subject: Re: [d21spike/plugin.video.sling] A few channels are not working (#26)

@bds3151 I've had to try to play the chann

[2021-03-22 04:22] bds3151 commented on #26
Update - I found my problem. It was DNS on my router. I took out the fixed addresses and let it get them from my provider. Thanks again for all your help. Strange issue where DNS would affect only a few channels.

[2021-03-22 11:08] d21spike commented on #26
Interesting, particularly since when I opened a qmx file link that used `p-cdn3` server like HISTORY did. I was greeted with a message that basically said my region didn't have access to the content. Once I change the server to something like `p-cdn1` it worked fine no problem. Checked again today and both work. I have a feeling they are working on their restrictions.

Either way, glad it's workin

[2021-03-22 12:40] bds3151 commented on #26
I originally used Unblockr DNS and I changed this back and forth between Frontier supplied DNS and it only worked with the Frontier DNS.

[2021-03-24 06:31] GreatOwle commented on #26
I have fixed this problem. The root cause is that InputStreamHelper has been deprecated. I've got code that works with KODI matrix but for the life of me can't figure out how to share with all of you. VERY FRUSTRATING.

[2021-03-24 11:00] d21spike commented on #26
Gotcha, definitely a possibility. I think in this case there were two issues since I also had a message. Going to close the issue now if that's alright.

[2021-03-24 13:56] bds3151 commented on #26
It's fine to close the issue.

-----Original Message-----
From: d21spike ***@***.***>
To: d21spike/plugin.video.sling ***@***.***>
Cc: bds3151 ***@***.***>; Mention ***@***.***>
Sent: Wed, Mar 24, 2021 4:00 am
Subject: Re: [d21spike/plugin.video.sling] A few channels are not working (#26)

Gotcha, definitely a possibility. I think in this case there were two issues since I also had a message. Goin

[2021-03-24 14:16] #26 closed

[2021-03-24 15:04] GreatOwle commented on #19
Hi, I was thinking on working on this because it looks like it'd be a pretty easy one to do. Can you please help me understand the request? What the root problem is that this would solve?

[2021-03-24 15:16] crak3rjack commented on #19
@GreatOwle My request is about to add more than 1 account, Sling offers different packages...3 differents accounts if I can login to a sports package account, latino package account or international package account. I can login to all 3 and switch accounts inside the addon hope this answer is good enough and thanks for taking time to look at it.

[2021-03-24 15:53] GreatOwle commented on #19
Yes, it does. TYVM @crak3rjack.

[2021-03-24 16:17] d21spike commented on #19
@GreatOwle This isn't so much of an issue but an improvement as such more focus has been given to things such as current version of Inputstream.Adaptive breaking live playback and Sling changing the way it does scheduling playlist (guide) so certain channels have been failing with the following error ( related to #26 ):

![image](https://user-images.githubusercontent.com/6399602/112343855-e7191e00

[2021-03-25 07:03] GreatOwle commented on #19
@crak3rjack I was thinking that it was just going to be an issue of adding some new text fields to the settings, figuring how how to load and save their states, and changing parameter values for a login function. It now seems that this is a larger issue than I thought and that it might not be the best first task for someone unfamiliar with the code.

@d21spike I agree that if there are stability i

[2021-03-29 06:51] matthuisman commented on #22
@d21spike @eracknaphobia

can someone please test Sling with Matrix and IA from below (please disable any proxy / workarounds):
https://jenkins.kodi.tv/blue/organizations/jenkins/xbmc%2Finputstream.adaptive/detail/PR-564/7/artifacts

Please advise

Also, if you update your proxy to remove or rename publishTime (and leave the rest as is) - it should also work with 2.4.6 and matrix..  eg. html_text

[2021-03-31 01:01] d21spike commented on #22
@matthuisman I'm working on testing/importing the Matrix changes. Once done I'll be able to test. Currently going through a life event, so might take a day or two.

[2021-03-31 01:02] matthuisman commented on #22
oh no - hope all is ok.
no rush - just when you can

I might be able to get a Leia version (2.4.6) with the changes above if that would help with testing?

[2021-03-31 01:02] d21spike commented on #19
@GreatOwle Take a look at issue #22 there is some testing to be done so more progress can be made.

[2021-03-31 01:17] d21spike commented on #22
@matthuisman All is well, just an addition to the family. Yeah 2.4.6 would allow me to use existing code.

[2021-03-31 01:19] matthuisman commented on #22
oh congrats!
I'll get some 2.4.6 versions to try
itll be only windows though unfortunately as that's all i got handy at present

[2021-03-31 01:22] d21spike commented on #22
Thanks! I should be able to make that work.

[2021-03-31 02:06] matthuisman commented on #22
ok, here are some 2.4.6 for Matrix to try:

https://f.mjh.nz/ia_test/
just try them in order of the numbers.

Let me know which / if any work :)

Oh, and remember to remove the proxy work-around in the add-on settings when testing

[2021-04-02 13:52] d21spike commented on #22
@matthuisman I was able to test `4-live-fix.zip` from the link above with the latest Kodi 18.9. Seems to function as it should, tested both live and vod. If you have a Kodi 19 version to try let me know.

[2021-04-02 18:34] matthuisman commented on #22
@d21spike
None of the other 3 builds worked?

[2021-04-02 18:41] d21spike commented on #22
@matthuisman Sorry the files were numbered 1-4 so I tested the latest, I'll try the other 3 now.

[2021-04-02 19:03] d21spike commented on #22
@matthuisman

Testing with Kodi 19 all 4 files from the link above result with the following error:
[code]

Comparing `addon.xml` from those files to the one from `version 2.6.8` (works on Matrix) from
 [https://jenkins.kodi.tv/blue/organizations/jenkins/xbmc%2Finputstream.adaptive/detail/Matrix/16/artifacts](https://jenkins.kodi.tv/blue/organizations/jenkins/xbmc%2Finputstream.adaptive/detail/Mat

[2021-04-02 19:15] matthuisman commented on #22
They are all Leia builds. Could you try all 4 on Leia please?

[2021-04-02 19:16] d21spike commented on #22
Ok let me load up Leia again.

[2021-04-02 19:26] d21spike commented on #22
`1-base_url_fix.zip` - No change, still broken live
`2-no_publish_time.zip` - No change, still broken live
`3-no_pto.zip` - No change, still broken live
`4-live_fix.zip` - Live functions with a 10-15 sec delay, as it previously has done

[2021-04-03 02:39] matthuisman commented on #22
Awesome. That's first time we got 2.6.8 working.
I'll get some 19 builds for you to try. It looks like sling needs the timing fix and the vod fix

[2021-04-03 02:42] d21spike commented on #22
Sounds good! Ready to test when you are.

[2021-04-03 05:21] matthuisman commented on #22
@d21spike
Ok, 19 test zips here:
https://f.mjh.nz/ia_test/

Please try 1 (i suspect won't work) then 2 (should work)

[2021-04-03 11:55] d21spike commented on #22
`1-live_fix.zip` This file has Kodi act live it's playing but nothing happens. Going to the logs, looks like a behavior we've previously seen where the max hex segment is targeted `ffffffff.m4s` and it just repeatedly reattempts.

`2-timing_live_fix.zip` Playback restored, works as it should with the typical delay. VOD functions properly as well.

Log snippet from the first file.
[code]

[2021-04-03 14:25] eracknaphobia commented on #22
Number 2 working great for me, thanks @matthuisman!

[2021-04-03 18:51] matthuisman commented on #22
Perfect. Thank you. Hopefully we can get them merged in near future

[2021-04-07 20:37] gazrob commented on #22
Hi guys are we able to install the live fix zip manually in some way? Or do we need to wait for add-on to be updated containing the fix?
Thank you for your continued work 👍🏻

[2021-04-07 20:43] matthuisman commented on #22
@gazrob
What device and Kodi version are you using?

[2021-04-07 21:39] gazrob commented on #22
Hi mate I'm currently using Kodi 19 on an odroid n2 running coreelec

[2021-04-08 02:52] matthuisman commented on #22
sorry, no arm builds yet.

[2021-04-08 05:54] gazrob commented on #22
No problem I'll keep an eye out for an update,thanks

[2021-04-08 13:51] d21spike commented on #22
Just tested (Win10 Kodi 19) from the Kodi repo, seems that we are back in business.
![image](https://user-images.githubusercontent.com/6399602/114038408-d9de6080-984f-11eb-8eaa-f3a3670de70a.png)

[2021-04-08 14:48] bds3151 commented on #22
Just tried Win10 K19 IS 2.6.11 and Sling didn't play channels.  Did you have to do anything other than install Sling and IS?

[2021-04-08 14:55] d21spike commented on #22
@bds3151 Are you on the latest Sling version?
I do have it updated on my repo, repo zip @ http://iofault.com/repo-matrix (Copy-paste in browser for download)

Also make sure the previous workaround is disabled in Sling settings if Slinger is enabled.
![image](https://user-images.githubusercontent.com/6399602/114048149-4b221180-9858-11eb-90ec-5d3e57526a4c.png)

I did have issues going from Kodi 18

[2021-04-08 15:10] bds3151 commented on #22
Yep! Just disabling the workaround got it going - thx.

[2021-04-08 23:42] matthuisman commented on #22
Leia big backport PR is ready and awaiting approval:
https://github.com/xbmc/inputstream.adaptive/pull/634

Test builds here if anyone can't wait:
https://jenkins.kodi.tv/blue/organizations/jenkins/xbmc%2Finputstream.adaptive/detail/PR-634/11/artifacts/

[2021-04-09 12:07] d21spike commented on #22
Tested `inputstream.adaptive+windows-i686/inputstream.adaptive-2.4.7.zip` seems to work no problem.

@matthuisman I see the Leia test builds include android. Do you happen to know what the issue (hold up) is with the android builds for Matrix?
This is from https://mirrors.kodi.tv/addons/matrix/
![image](https://user-images.githubusercontent.com/6399602/114177438-664d5980-990a-11eb-931a-072c4ea8122

[2021-04-09 19:39] d21spike commented on #1
To update this is issue a little bit...

In the `My TV` Menu you can playback your recordings via the `Recordings` sub-menu. Like-wise, toggling the context menu on a recording, it can be deleted.
![image](https://user-images.githubusercontent.com/6399602/114231779-e1356500-9948-11eb-9ee0-d4b3876ffc78.png)

In the `My TV` Menu you can `Set to Record` anything that is marked `Live` or `Upcoming` vi

[2021-04-09 19:50] matthuisman commented on #22
Its currently being worked on to switch the builds on android from built-in to repo. Hopefully over next days for 19. Then a few more days for 18

[2021-04-10 02:34] d21spike commented on #22
@matthuisman improvement in the process is a good thing. As always, I appreciate the hard work.

[2021-04-10 02:39] matthuisman commented on #22
yes, having it provided via the repos instead of built-in on android means updates can be pushed without a new version of Kodi. and slightly smaller APK size too as it won't be in it.

[2021-04-10 02:43] d21spike commented on #22
Yeah I think the update capabilities alone make it worth it. Especially considering, android tv is becoming more and more prevalent. Pushing bug fixes will be easier.

[2021-04-10 02:47] matthuisman commented on #22
yup, it will also be going into the Leia repo too (https://github.com/xbmc/inputstream.adaptive/pull/634)
Even though it probably won't get any more updates - im sure if there is something critical we could get a fix out

[2021-04-10 02:51] d21spike commented on #22
I figure it will take the better part of a year for *most* people to transition to Matrix, so it makes sense. I'm trying to maintain both both builds for now as well. Heck I even rewrote my application for packaging/pushing updates to my Kodi Repo, mainly to allow me to pick and choose branches instead of default.

[2021-04-11 01:06] d21spike commented on #22
Sling with IA 2.6.13 on Samsung S10+ and Nvidia Shield confirmed live working with Kodi Matrix
![Screenshot_20210410-210256_Chrome](https://user-images.githubusercontent.com/6399602/114288838-94cd5080-9a40-11eb-9fae-4452f26ec60f.jpg)

[2021-04-11 02:26] matthuisman commented on #22
Leia update should now be live too. 2.4.7
When I get a minute, I'll PR update to coreelec and libreelec

[2021-04-11 07:12] gazrob commented on #22
Excellent,thanks 👍🏻

[2021-04-11 10:08] gazrob commented on #22
Everything working great,thanks guys 👍🏻

[2021-04-12 11:22] d21spike commented on #22
Repo version IA 2.4.7 tested on Win 10 with Kodi 18, no issues.

[2021-04-12 16:01] taylormia commented on #22
I'm on Kodi 18.9 on Win 10 and updated to IA 2.4.7. But when I try to update Sling to version 2021.4.9.1., I get the error "Dependency on XBMC Python version 3.0 could not be satisfied". Any ideas? Thanks.

[2021-04-12 16:11] d21spike commented on #22
@taylormia You're trying to run a Kodi Matrix version of the addon on Kodi Leia.

If cloning this repo, make sure you select the right branch
![image](https://user-images.githubusercontent.com/6399602/114426393-095ed700-9b88-11eb-83f2-54157e084ce4.png)

Like-wise, my Kodi repo has both versions ... Matrix and Leia

[2021-04-12 16:17] taylormia commented on #22
The Sling version 2021.4.9.1 showed up as an update...so I tried it...and got the Python error. But it seems like Sling version 10.0.110 on Kodi 18 is working fine with IA 2.4.7 for live channels...with a few seconds delay...which I believe is normal. No plans to update to Kodi 19 yet....thanks @d21spike for all the testing and @matthuisman for the IA fix.

[2021-04-12 16:25] d21spike commented on #22
@taylormia Sounds like you're using my repo Kodi for the update.

Update the repo from [http://iofault.com/repo-leia](http://iofault.com/repo-leia)
or
[https://github.com/d21spike/IOFault-Repo/tree/Leia](https://github.com/d21spike/IOFault-Repo/tree/Leia)
![image](https://user-images.githubusercontent.com/6399602/114428330-1086e480-9b8a-11eb-9d02-61cba7dbe0c4.png)

Then update Sling from there, yo

[2021-04-12 16:45] taylormia commented on #22
@d21spike Updated to your Leia repo, restarted Kodi and the Sling update went fine. Thanks.

[2021-04-12 17:24] taylormia commented on #22
Any idea when IA 2.4.7 will be available for Librelec on Kodi 18? The latest version available is 2.4.6.1. Looks like version IA 2.4.7 is required for the live channels fix.

[2021-04-12 18:41] matthuisman commented on #22
I put through a PR to libreelec to update yesterday. It should be in any time now...

[2021-04-20 17:51] taylormia commented on #22
Updated to IA 2.4.7.1 on LibreELEC 9.2.6 (Kodi 18.9) and Sling Live channels are working now without the delay. Thanks @matthuisman .

[2021-04-20 17:59] d21spike commented on #22
Sounds like it's safe to say this issue is now resolved?

[2021-04-20 18:11] taylormia commented on #22
I would agree from the Kodi 18.9 perspective at least...since that's the version I use.

[2021-04-21 12:22] #22 closed

[2021-04-21 12:24] d21spike commented on #21
Issue #22 is resolved, are you still having issues?

[2021-04-21 15:25] bds3151 commented on #21
No - working fine here.  Thanks

-----Original Message-----
From: d21spike ***@***.***>
To: d21spike/plugin.video.sling ***@***.***>
Cc: Subscribed ***@***.***>
Sent: Wed, Apr 21, 2021 5:24 am
Subject: Re: [d21spike/plugin.video.sling] Sling fails to open after entering credentials (#21)

Issue #22 is resolved, are you still having issues?—
You are receiving this because you are subscribed to this

[2021-04-21 16:02] d21spike commented on #21
Sounds good!

[2021-04-21 16:02] #21 closed

[2021-05-25 15:39] crak3rjack opened #34 "Request for addon"
@d21spike Hi sorry for asking just wanted to see if it could be possible to make a addon from this site it's totally free, no logins needed, not many dependable content in spanish. I will appreciate it and thanks.
https://prende.tv/

[2021-06-27 00:40] ohmichael opened #35 "Sling TV errors out"
I used both addons of sling tv and the ones on your repos doesn’t open when I log in and this one is for matrix - when I change python version to make it compatible it errors out. Letting you know.

[2021-06-27 17:58] d21spike commented on #35
@ohmichael I just tried a fresh install of both Kodi 19 and the add-on without any issue on Win10 64.

If you want further help, post what device type you're using as well as a log of the issue. For the log make sure both Kodi Debug logging is enabled as well as the Debug Logging in the Sling add-on settings.

[2021-08-04 00:13] richardLedbetter opened #36 "libreelec install issue"
when trying to install from zip I get this message "the dependency on xbmc python 3.0.0 could not be satisfied"
I'm running on a raspberry pi 4 4 gig on version 9.2.6 I will add any info as requested

[2021-08-04 00:19] d21spike commented on #36
Sounds like you downloaded the Matrix branch of the add-on and tried to install it on Kodi 18 Leia.

Switch the add-on branch to Leia and try again.

[2021-08-17 20:38] CHJ85 opened #37 "Please add support for Kodi 18."
Hi there. Kodi 19 is still very new and addons do not work yet, and there are very few good builds for Kodi 19 yet.
Please consider making this addon work for Kodi 18.

[2021-08-17 23:13] d21spike commented on #37
There already is a Leia version, change the branch and download.

![image](https://user-images.githubusercontent.com/6399602/129812452-884e7d52-56f6-456f-88e5-d0637e037d99.png)

[2021-08-17 23:13] #37 closed, assigned to nobody

[2021-08-17 23:26] CHJ85 commented on #37
Oh thank you. I had no idea.

[2021-08-17 23:42] d21spike commented on #37
No problem.

[2021-08-27 22:49] CHJ85 commented on #35
Same issue here, Kodi 18 on Linux.
I don't think the OS makes a different, just thought I should mention it just in case.
Neither Sling or SlingTV work for me.

[2021-09-04 15:25] slinguser opened #38 "Playback fails"
Playback fails a/o 1 Sept with the following error in the log:

200 T:1155     INFO <general>: Creating InputStream
.201 T:1155     INFO <general>: AddOnLog: inputstream.adaptive: SetVideoResolution (1920 x 1080)
.296 T:1155     INFO <general>: AddOnLog: inputstream.adaptive: Successfully parsed manifest file. #Periods: 1, #Streams in first per
.026 T:1155    ERROR <general>: CCurlFile::FillBuffer

[2021-09-04 15:43] slinguser commented on #38
Debug log uploaded via kodi log updater as  cezahuwiga

[2021-10-19 21:37] crak3rjack opened #39 "NBA League Pass"
@d21spike  I logged in and i have a NBA League Pass but I don't see the channels, even if there empty aren't they supposed to been seen or not until there's an active game or im missisng something and thanks.

[2021-10-19 23:00] d21spike commented on #39
Can you...
Enable ```Kodi Debug Logging```
![image](https://user-images.githubusercontent.com/6399602/138001546-f4189743-0a7a-46de-9d36-a20472e5ec1a.png)

Enable ```Sling Addon Logging```
![image](https://user-images.githubusercontent.com/6399602/138001585-a1fc19e6-dead-46a4-aa62-297560c4454d.png)

And paste a log. Specifically a chunk that looks like this
[code]

***You can search for ```auth::ge

[2021-10-19 23:03] d21spike commented on #39
I can at least say NBA does work, just gotta figure out your issue..
![image](https://user-images.githubusercontent.com/6399602/138002313-bd681d92-cec0-4b54-a32f-cc584b7d585d.png)

[2021-10-19 23:34] crak3rjack commented on #39
@d21spike Here's the log... took out some info like your example hope it helps.
https://pastebin.com/Jpy3S2Uv

[2021-10-19 23:41] d21spike commented on #39
Actually I need it unmodified. Like I said, there isn't anything identifiable.

[2021-10-19 23:50] crak3rjack commented on #39
@d21spike Here is another one let me know
https://pastebin.com/ju2Gjak5

[2021-10-20 00:08] d21spike commented on #39
Ok so your account definitely returns with
NBA League Pass
ID 288
GUID 9235fcc867c4440792afb64930c53160

These are the channels you're entitled to. Can you confirm you are missing some?

[code]

[2021-10-20 00:10] crak3rjack commented on #39
@d21spike im only missing NBA League Pass... everything else is there!

[2021-10-20 00:23] d21spike commented on #39
NBA League Pass is simply the name if the subscription not an actual channel. The subscription gets you access to the following channels. If you would like to see for yourself ... just search for ```channel_name```
[NBA League Pass JSON](https://cbd46b77.cdn.cms.movetv.com/cms/publish3/domain/channels/v4/-0500/999/Mjg4/1.json)

[code]

[2021-10-20 00:26] crak3rjack commented on #39
@d21spike ok i understand... is there a fix and thanks.

[2021-10-20 00:36] d21spike commented on #39
A fix for what? As far as I see it you are receiving all the channels Sling is providing you. Or are you saying you are missing the channels provided by the League Pass as I listed above?

The Channels menu will only display anything that either has something currently on "live" or "on demand". So if the channel isn't currently playing a game and doesn't have any On Demand content then it will not

[2021-10-20 00:41] crak3rjack commented on #39
@d21spike ok that was my question appreciate it for answering and clarifying... thanks!

[2021-10-20 00:43] d21spike commented on #39
No problem, glad to help. Closing the issue unless there was something else?

[2021-10-20 23:29] crak3rjack opened #40 "NBA LEAGUE Streams not working"
@d21spike Regular channels are working fine, but all NBA LEAGUE PASS streams are not working... here's the log and thanks
https://pastebin.com/puUCB4Up

[2021-10-27 14:39] crak3rjack commented on #40
@d21spike @eracknaphobia Is it possible to get a fix👆

[2021-10-28 02:59] d21spike commented on #40
Not ignoring you. I glanced at your log, mechanically the addon is working like it should but Sling is responding with 404 - Not Found when the stream is actually played. Being that these channels aren't always live, it becomes one of timing in order to observe more deeply.

[2021-10-30 18:10] crak3rjack commented on #40
@d21spike So you need more time to look at this error from what i can understand.

[2021-11-01 01:13] d21spike commented on #40
Ok so I did some more looking, it looks to be that only the channels with a 4 hour time slot but no guide data are the ones failing playback with an error similar to this:

[code]

That said this is in a portion that is handled by IA and not this add-on. This is not to blame IA but basically currently there isn't anything to playback so it fails with a 404 Not Found, which is technically correct s

[2021-11-01 01:47] crak3rjack commented on #40
@d21spike Im using the latest update you just pushed and still not working also enabled the off-air channel setting and nothing works in the addon... but it does work on the website.
![1](https://user-images.githubusercontent.com/59179646/139610481-7c77b90b-c7ea-4e41-a0c1-83f92978835a.jpg)
![2](https://user-images.githubusercontent.com/59179646/139610489-3fd35280-61b4-4ce3-b4fb-c8a9c73654df.jpg)
!

[2021-11-01 01:54] d21spike commented on #40
Ok now we're getting somewhere. Try playing the ```Brooklyn Nets``` channel via Sling Addon (not Sling Guide my recent update doesn't affect this). This is what I'm seeing,...
![image](https://user-images.githubusercontent.com/6399602/139610898-4ed966ae-b2bc-42c2-b36e-b21cd6d0cd6f.png)

[2021-11-01 01:57] crak3rjack commented on #40
@d21spike just tried in the addon On Now > Sports > Nets... and those work. Takes a while to load.

[2021-11-01 02:02] d21spike commented on #40
This is what that Setting currently affects

You would toggle this to ```On```
![image](https://user-images.githubusercontent.com/6399602/139611213-402d00d3-ab09-4701-9fdb-b7b0c722d4b0.png)

Then ```Sling```
![image](https://user-images.githubusercontent.com/6399602/139611261-7a44b2c2-8755-4035-869b-1c0147486898.png)

Then ```Channels```
![image](https://user-images.githubusercontent.com/6399602/1

[2021-11-01 02:03] d21spike commented on #40
Or was it that you were just having trouble playing via the ```Sling Guide```?

[2021-11-01 02:07] crak3rjack commented on #40
@d21spike  It's working in the addon, thats good enough for me im super happy... hopefully you can get it to work in the guide "not working" next and appreciate the quick response and help bud!☺👍

[2021-11-01 02:17] d21spike commented on #40
@crak3rjack Glad to hear it's working. Just to address the ```Guide``` ... technically it **does** work. See mine below for example, it does play the Nets since there is something on the "Programme". When the schedule says ```Off-Air``` or ```Nothing Scheduled``` I have it coded not to even try play since technically there isn't anything on anyways.
![image](https://user-images.githubusercontent.c

[2021-11-01 23:37] crak3rjack commented on #40
@d21spike For reason tonight im getting this error on all the games that are on.
https://pastebin.com/K55meQy7

[2021-11-02 00:44] d21spike commented on #40
Looks like IA is having trouble decrypting. Gonna have to take a deeper look into it.
[code]

At @matthuisman any known issues with IA or you thinking this may be a licensing issue? More complete log below
[PASTEBIN](https://pastebin.com/0DdSMtTB)

[2021-11-02 01:43] matthuisman commented on #40
that Decrypt failed error is normal.
your actual error is
[code]
you'll need to open an issue on inputstream adaptive.
Youll need to provide the manifest and full debug log etc.
There is an issue template there to follow

I suspect it may be the same issue as mine here:
https://github.com/xbmc/inputstream.adaptive/issues/731
Without a manifest, it's hard to tell

i workaround the above issue insid

[2021-11-25 00:10] crak3rjack commented on #40
@d21spike @matthuisman Is there any work around for the issue... inputstream takes a lot time for fixes & thanks.

[2021-11-25 00:16] matthuisman commented on #40
@crak3rjack
already answered above your comment...
without a manifest - dont know if its same issue.
If it is same issue - then i've worked around it using a proxy.

[2021-11-25 00:20] crak3rjack commented on #40
@matthuisman Noob here can you explain me on how to add the proxy into Sling to give it a try if it's not to tech and thanks.

[2021-11-25 00:22] matthuisman commented on #40
no sorry, that is not easy at all to do.
what you can do to help is download the manifest (url) that doesnt play and upload it here

[2021-11-25 00:25] crak3rjack commented on #40
@matthuisman Sorry only know how get a log file don't even know how a manifest :(

[2021-11-25 00:31] matthuisman commented on #40
in the log, you will see the ulr of the file its trying to play
eg. http://p-cdn1-802-cg14-linear-cbd46b77.movetv.com/clipslist/1005/20211101T233000Z/20211102T033000Z.mpd
copy this url into browser and it will download that file.
Then upload it here

[2021-11-25 00:40] crak3rjack commented on #40
@matthuisman there's only this for video & audio
<general>: AddOnLog: inputstream.adaptive: Download failed with error 404: http://p-cdn3-802-cg14-linear-cbd46b77.movetv.com/15802/live/NBACLE/aa69bafa4d8211ecbc620025b5472112/video/vid03/ffffe88d.m4s

[2021-11-25 02:02] matthuisman commented on #40
either before or after that in the log, there should be an entry telling you the manifest url.
It will end in ".mpd"
find that url, and then download it in browser straight away before it expires.
Then upload it

[2021-12-04 14:33] crak3rjack opened #41 "Can't login"
@d21spike For some reason since yesterday I can't login... the account works fine in the app & website too, can you take a look and thanks.

[2021-12-04 16:25] bds3151 commented on #41
It happend to me also and the log said it had an error with inputstream adaptive. No or invalid key. I backed down to Kodi 19.1 and it worked but I have other 19.3 installations that continue to work.

[2021-12-04 17:33] d21spike commented on #41
Just tried a fresh login on 19.1 and 19.3 on Win10 with no issue other than first login attempt reported ```can't validate account```. Retrying immediately after resulted in a successful login and playback.

Try again and report back...

[2021-12-04 18:34] crak3rjack commented on #41
@d21spike  Since yesterday been getting "can't validate account" reset my WIFI and still no go

[2021-12-04 18:42] d21spike commented on #41
@crak3rjack try a fresh login. Under settings

- Toggle ```Logout```
- Back out the Username and Password
- Press ```OK```
- Launch add-on which should prompt for credentials.
  - As I said, my first time wouldn't validate after which the second was successful
![image](https://user-images.githubusercontent.com/6399602/144720950-1deb5249-6f57-4441-828b-7fa9a51cf0e9.png)

[2021-12-04 18:51] crak3rjack commented on #41
@d21spike tried that way also and still same not working... user & pass comes empty every time 😤

[2021-12-04 21:42] crak3rjack commented on #40
@d21spike Now that got login im getting this error in all regular streams
2021-12-04 17:36:17.914 T:12976    INFO <general>: VideoPlayer::OpenFile: plugin://plugin.video.sling/?url=http%3A%2F%2Fcbd46b77.cdn.cms.movetv.com%2Fcms%2Fapi%2Fchannels%2Fbe5a3bce259a4c13947f4b4fbae5e005%2Fschedule%2Fnow%2Fplayback_info.qvt&mode=play&name=A%26E
2021-12-04 17:36:17.915 T:17496    INFO <general>: Creating In

[2021-12-10 07:18] matthuisman commented on #40
a user has provided an example mpd dash
[20211210T010000Z.mpd.txt](https://github.com/d21spike/plugin.video.sling/files/7690789/20211210T010000Z.mpd.txt)

as you will see, there is no timeShiftBufferDepth but there is mediaPresentationDuration
So, i dont think its the same issue as https://github.com/xbmc/inputstream.adaptive/issues/731

Looking more at it, Inputstream will be treating it as VOD (

[2022-01-03 13:31] crak3rjack commented on #40
@d21spike Hi bud is there gonna be a fix for the NBA LEAGUE PASS and thanks!

[2022-01-11 12:45] CHJ85 commented on #41
Can somebody confirm if this addon is not broken?
I'd very much like to watch Sling TV though Kodi.

[2022-01-11 12:53] bds3151 commented on #41
Mine's working fine right now.

[2022-01-20 00:25] eracknaphobia commented on #40
@matthuisman Here is a live one. Looks like you are right assuming it's trying to play a segment that is out of range.
[spanning_ads.mpd.txt](https://github.com/d21spike/plugin.video.sling/files/7901326/spanning_ads.mpd.txt)

The .m4s urls it's trying to call return json
http://p-cdn3-802-cg14-linear-cbd46b77.movetv.com/15802/live/NBABRK/f1d492c0798311ec9d770025b5472213/video/vid04/ffffe556.m4s
[c

[2022-01-20 01:54] matthuisman commented on #40
@eracknaphobia
could you try a build from here:
https://jenkins.kodi.tv/blue/organizations/jenkins/xbmc%2Finputstream.adaptive/detail/PR-879/1/artifacts
(for Matrix)

[2022-01-20 02:41] eracknaphobia commented on #40
That did allow the stream to play. However, it started the stream from the beginning instead of "live".

[2022-01-20 02:47] matthuisman commented on #40
if the stream is live and multiple-periods - then you need to fast fwd to live.
Or, in the add-on use a large resume_from to force live.
see here: https://github.com/xbmc/inputstream.adaptive/issues/574

[2022-01-20 16:24] eracknaphobia commented on #40
@matthuisman With the latest build I'm noticing the live channels will play from beginning when the ResumeTime and TotalTime are set to 1, but when I try `li.setProperty('ResumeTime', '43200')` to play "live" nothing plays and I see the 404's for the m4s files.
[spanning_ads.mpd.txt](https://github.com/d21spike/plugin.video.sling/files/7906842/spanning_ads.mpd.txt)

[2022-01-20 16:51] matthuisman commented on #40
My build was just a hack to try something. it would require more investigation which I don't have time for currently sorry.

It seems IA is calculating the wrong length of the stream.

What would help is I'd someone opens a new issue in IA and provide

1) play the channel in browser sling website and find the segment number it is using when playing at the live head
2) download the mpd manifest as

[2022-01-21 18:42] crak3rjack commented on #40
@eracknaphobia @matthuisman Appreciate it guys for taking of your time to look into the issue thanks!🙂💪

[2022-01-22 12:35] crak3rjack commented on #40
@eracknaphobia @matthuisman I've seen you guys testing the issue on Windows PC, I tried the inputstream from @matthuisman in Android last night and didn't work can you guys take a look and confirm it works also in Android and thanks.

[2022-01-22 12:43] eracknaphobia commented on #40
I just installed the android version. I will test some of the games tonight.

[2022-01-22 12:47] crak3rjack commented on #40
@eracknaphobia I tried the arm7 version!🤞👍

[2022-01-22 12:50] eracknaphobia commented on #40
@crak3rjack Did the nba streams play from beginning or not at all? Do channels still work for you?

[2022-01-22 12:53] crak3rjack commented on #40
@eracknaphobia All regular channels works fine but the NBA makes likes is going to load but keeps spinning doesn't load at all.

[2022-01-23 00:33] crak3rjack commented on #40
@eracknaphobia Forgot to tell you that using the inputstream from the oficial Kodi 19.0.2 regular channels don't play in Android.

[2022-01-23 01:07] eracknaphobia commented on #40
@crak3rjack oh ok. The version of IA @matthuisman posted [here ](https://github.com/xbmc/inputstream.adaptive/issues/880#issuecomment-1018037719)should play the games from beginning and you can ffwd to live. There will have to be code added to the sling addon to make them play live on start. Still working on that part.

[2022-01-23 02:33] matthuisman commented on #40
Test builds here
https://jenkins.kodi.tv/blue/organizations/jenkins/xbmc%2Finputstream.adaptive/detail/PR-881/5/artifacts

[2022-01-27 21:25] CHJ85 commented on #41
Well. I'd love to see an update to this addon.
If they can't fix the login problem, maybe allow cookies.txt.

[2022-01-29 11:57] eracknaphobia commented on #40
@crak3rjack This version of sling should fix the issue. Please test it out and let me know.
[plugin.video.sling-2022.1.24.zip](https://github.com/d21spike/plugin.video.sling/files/7963609/plugin.video.sling-2022.1.24.zip)

[2022-01-29 12:03] crak3rjack commented on #40
@eracknaphobia  I'll give it test drive and report back ASPS and hopefully is resolved and thanks!🙏

[2022-01-30 00:19] crak3rjack commented on #40
@eracknaphobia @matthuisman @d21spike
Yes NBA LEAGUE PASS is working "Android" now Celtics vs Pelicans & Pacers vs Mavericks... appreciate all the time and effort. Time to add it to the repo and thanks!😊🙏

[2022-01-30 00:23] matthuisman commented on #40
My changes I had done were actually wrong and would break other streams. I'm working on a new PR that should sort it. Will need users to test again when the time comes

[2022-01-30 00:26] eracknaphobia commented on #40
@matthuisman I noticed that the ResumeTime hack seemed to work on stock 19.0.2 on macOS if that makes a difference. Thanks for the heads up, happy to test when builds are ready.

[2022-01-30 00:34] matthuisman commented on #40
The resume time hack will be needed regardless

On Sun, 30 Jan 2022, 13:27 eracknaphobia, ***@***.***> wrote:

[2022-01-30 00:39] crak3rjack opened #42 "Sling Guide nothing schedule"
@d21spike For some reason the NBA League Pass shows "nothing schedule" but it's live in the channel.
![Capture](https://user-images.githubusercontent.com/59179646/151682378-234e04e8-1d21-409b-8e79-14f62b8d7a6e.jpg)

[2022-03-08 01:15] crak3rjack commented on #40
@eracknaphobia @matthuisman  Hi now im getting this error only on NBA PASS "Android"  here's the log and thanks!
https://pastebin.com/UfHyGRr8

[2022-03-16 13:19] kholthaus opened #43 "Unicode Decode Error"
As of 3/14/22, I received an error when trying to play Sling content (Kodi Leia, RPi 4). The error message in the log:
`
2022-03-16 06:02:01.310 T:1622995840   ERROR: EXCEPTION Thrown (PythonToCppException) : -->Python callback/script returned the following error<--
                                             - NOTE: IGNORING THIS CAN LEAD TO MEMORY LEAKS!

[2022-05-28 15:26] crak3rjack opened #44 "Error in Channels Menu"
@eracknaphobia @d21spike Im getting this in the Channels menu... thanks!
https://pastebin.com/SxbGuSGh

[2022-06-04 12:40] crak3rjack commented on #44
@eracknaphobia @d21spike Please!👆🙏

[2022-06-07 00:32] d21spike commented on #44
I'll take a look

[2022-06-13 14:00] d21spike commented on #44
@crak3rjack So I checked with the newest Kodi install. Fresh user profile, different Subscription levels. Channels menu seems to load correctly.

Can you try again, or if still having issues try removing the addon_data folder for Sling.

It seems to be trying to get the url for a poster but Sling data structure is not what it's expecting. This may have been a fluke.

[2022-06-13 15:28] crak3rjack commented on #44
@d21spike I deleted and fresh install latest v-2022/1/24 and can't login tried like 50 times.. no luck!
2022-06-13 11:19:23.035 T:9376  WARNING <CAddonSettings[plugin.video.sling]>: Skipped 3 duplicate messages..
2022-06-13 11:19:23.035 T:9376  WARNING <CAddonSettings[plugin.video.sling]>: failed to load value "" for setting update_guide
2022-06-13 11:19:26.669 T:15256    INFO <general>: Skipped 1

[2022-06-13 16:17] d21spike commented on #44
@crak3rjack Can you post a complete log and make debugging is turned on in both the add-on settings and Kodi. There is nothing of relevance in that snippet.

![image](https://user-images.githubusercontent.com/6399602/173398534-67e2445f-9483-4cf8-8809-84ba728d4fb7.png)

![image](https://user-images.githubusercontent.com/6399602/173398592-50b36007-08e6-4935-afec-fba2dc4e524c.png)

`Ctrl + Shift + D`

[2022-09-11 16:13] graysky2 opened #45 "status of Widevine CDM on aarch64"
Thanks for the addon.  Is there any development status of Widevine CDM on aarch64?  The error I got when trying this on RPi4 aarch64 seems like a dealbreaker:
[code]

[2022-09-12 13:39] d21spike commented on #45
@graysky2 the DRM for this addon is handled by [Inputstream.Adaptive](https://github.com/xbmc/inputstream.adaptive). As far as I'm aware RPi4 is supported, albeit I only have older versions to test.

Doing some digging looks like there is no 64-bit version of Widevine for the arm64 architecture. You can see this issue referenced here:
![image](https://user-images.githubusercontent.com/6399602/1896

[2022-09-12 16:21] graysky2 commented on #45
Thanks again for the addon and for sharing your knowledge about this.  I am on ArchARM, but both armv7h and aarch64 are offered.  Not sure about aarch64 with armv7h (32-bit?) user-land.  Will need to look into that.  I will close this since you answered my question.

[2022-09-12 16:21] #45 closed, assigned to nobody

[2022-11-12 15:36] crak3rjack opened #46 "Error windows "inpustreams" i think"
@eracknaphobia @d21spike @matthuisman  Hi guys getting error in all channels from Windows about 3 days ago in Android they all work fine... here's the log with the .mdp and thanks.
https://pastebin.com/YHALv1EU